<div class="module module-narrow module-shallow">
	<h2 class="module-heading">
		<i class="fa fa-info-circle icon-info-sign"></i>
		{{ _('What are Showcases?') }}
	</h2>
	<div class="module-content">
		<p>
			{# trans %}
				Datasets have been used to build apps, websites and visualizations.
				They've been featured in articles, and written about in news reports and blog posts.
				Showcases collect together the best examples of datasets in use, to provide further
				insight, ideas, and inspiration.
			{% endtrans #}
			Cette section valorise des sites web et des applications numériques utilisatrices
			de données ouvertes. N'hésitez pas à déclarer vos réutilisations. Pour cela <a href="{{ h.idgotheme_get_url_publier() }}">inscrivez-vous
			à DataSud</a>, un bouton "Ajouter une réutilisation" apparaitra ensuite sur cette page.
		</p>
		{% if h.check_access('ckanext_showcase_admin_add') %}
		<p>
			{% trans url=h.url_for(controller='ckanext.showcase.controller:ShowcaseController', action='manage_showcase_admins') %}Sysadmins can manage Showcase Admins from the <a href='{{ url }}'>Showcase configuration page</a>.{% endtrans %}
		</p>
		{% endif %}
	</div>
</div>
